<div class="account-container">
  <div class="account-box">
    <div class="account-content">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="account-title">
          <h2>アカウント編集</h2>
          <% content_for(:html_title) { "アカウント編集 - Read Out" } %>
        </div>

        <div class="field account-input-box">
          <%= f.label "名前" %>
          <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
        </div>

        <div class="field account-input-box">
          <%= f.label "自己紹介" %>
          <%= f.text_field :profile, autofocus: true, autocomplete: "profile"%>
        </div>

        <div class="field account-input-box">
          <%= f.label "プロフィール画像" %>
          <%= f.file_field :avatar, autofocus: true, autocomplete: "avatar", :class => "account-edit-img" %>
        </div>

        <div class="field account-input-box">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field account-input-box">
          <%= f.label "パスワード (変更する場合)" %>
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "6文字以上" %>
        </div>

        <div class="field account-input-box">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="field account-input-box">
          <%= f.label :current_password %> 
          <%= f.password_field :current_password, autocomplete: "current-password" %>
        </div>

        <div class="actions account-submit-btn">
          <%= f.submit "更新" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
      