<div class="content__wrapper">
  <a>
    <div class="post__container">
      <div class="post__title-section">
        <div class="post__title white-space-nowrap">
          <h2>コンテンツタイトル<h2>
        </div>
        <div class="post__user-row">
          <div class="post__user-img">
            <%= image_tag 'logo.png'%>
          </div>
          <div class="post__user-name">
            <p>アカウントネーム</p>
          </div>
        </div>
      </div>
      <div class="post__evaluation-section">
        <p>評価 <span>★★★★★</span></p>
      </div>
      <div class="post__review-section">
        <p>コンテンツコンテンツコンテンツコンテンツコンテンツコンテンツ</p>
      </div>
      <div class="post__category-section">
          <p># カテゴリー</p>
          <p># カテゴリー</p>
          <p># カテゴリー</p>
      </div>
    </div>
  </a>
  <a>
    <div class="post__container">
      <div class="post__title-section">
        <div class="post__title white-space-nowrap">
          <h2>コンテンツタイトル<h2>
        </div>
        <div class="post__user-row">
          <div class="post__user-img">
            <%= image_tag 'logo.png'%>
          </div>
          <div class="post__user-name">
            <p>アカウントネーム</p>
          </div>
        </div>
      </div>
      <div class="post__evaluation-section">
        <p>評価 <span>★★★★★</span></p>
      </div>
      <div class="post__review-section">
        <p>コンテンツコンテンツコンテンツコンテンツコンテンツコンテンツ</p>
      </div>
      <div class="post__category-section">
          <p># カテゴリー</p>
          <p># カテゴリー</p>
          <p># カテゴリー</p>
      </div>
    </div>
  </a>
  <a>
    <div class="post__container">
      <div class="post__title-section">
        <div class="post__title white-space-nowrap">
          <h2>コンテンツタイトル<h2>
        </div>
        <div class="post__user-row">
          <div class="post__user-img">
            <%= image_tag 'logo.png'%>
          </div>
          <div class="post__user-name">
            <p>アカウントネーム</p>
          </div>
        </div>
      </div>
      <div class="post__evaluation-section">
        <p>評価 <span>★★★★★</span></p>
      </div>
      <div class="post__review-section">
        <p>コンテンツコンテンツコンテンツコンテンツコンテンツコンテンツ</p>
      </div>
      <div class="post__category-section">
          <p># カテゴリー</p>
          <p># カテゴリー</p>
          <p># カテゴリー</p>
      </div>
    </div>
  </a>
  <a>
    <div class="post__container">
      <div class="post__title-section">
        <div class="post__title white-space-nowrap">
          <h2>コンテンツタイトル<h2>
        </div>
        <div class="post__user-row">
          <div class="post__user-img">
            <%= image_tag 'logo.png'%>
          </div>
          <div class="post__user-name">
            <p>アカウントネーム</p>
          </div>
        </div>
      </div>
      <div class="post__evaluation-section">
        <p>評価 <span>★★★★★</span></p>
      </div>
      <div class="post__review-section">
        <p>コンテンツコンテンツコンテンツコンテンツコンテンツコンテンツ</p>
      </div>
      <div class="post__category-section">
          <p># カテゴリー</p>
          <p># カテゴリー</p>
          <p># カテゴリー</p>
      </div>
    </div>
  </a>
  <a>
    <div class="post__container">
      <div class="post__title-section">
        <div class="post__title white-space-nowrap">
          <h2>コンテンツタイトル<h2>
        </div>
        <div class="post__user-row">
          <div class="post__user-img">
            <%= image_tag 'logo.png'%>
          </div>
          <div class="post__user-name">
            <p>アカウントネーム</p>
          </div>
        </div>
      </div>
      <div class="post__evaluation-section">
        <p>評価 <span>★★★★★</span></p>
      </div>
      <div class="post__review-section">
        <p>コンテンツコンテンツコンテンツコンテンツコンテンツコンテンツ</p>
      </div>
      <div class="post__category-section">
          <p># カテゴリー</p>
          <p># カテゴリー</p>
          <p># カテゴリー</p>
      </div>
    </div>
  </a>
  <a>
    <div class="post__container">
      <div class="post__title-section">
        <div class="post__title white-space-nowrap">
          <h2>コンテンツタイトル<h2>
        </div>
        <div class="post__user-row">
          <div class="post__user-img">
            <%= image_tag 'logo.png'%>
          </div>
          <div class="post__user-name">
            <p>アカウントネーム</p>
          </div>
        </div>
      </div>
      <div class="post__evaluation-section">
        <p>評価 <span>★★★★★</span></p>
      </div>
      <div class="post__review-section">
        <p>コンテンツコンテンツコンテンツコンテンツコンテンツコンテンツ</p>
      </div>
      <div class="post__category-section">
          <p># カテゴリー</p>
          <p># カテゴリー</p>
          <p># カテゴリー</p>
      </div>
    </div>
  </a>
  <a>
    <div class="post__container">
      <div class="post__title-section">
        <div class="post__title white-space-nowrap">
          <h2>コンテンツタイトル<h2>
        </div>
        <div class="post__user-row">
          <div class="post__user-img">
            <%= image_tag 'logo.png'%>
          </div>
          <div class="post__user-name">
            <p>アカウントネーム</p>
          </div>
        </div>
      </div>
      <div class="post__evaluation-section">
        <p>評価 <span>★★★★★</span></p>
      </div>
      <div class="post__review-section">
        <p>コンテンツコンテンツコンテンツコンテンツコンテンツコンテンツ</p>
      </div>
      <div class="post__category-section">
          <p># カテゴリー</p>
          <p># カテゴリー</p>
          <p># カテゴリー</p>
      </div>
    </div>
  </a>
  <a>
    <div class="post__container">
      <div class="post__title-section">
        <div class="post__title white-space-nowrap">
          <h2>コンテンツタイトル<h2>
        </div>
        <div class="post__user-row">
          <div class="post__user-img">
            <%= image_tag 'logo.png'%>
          </div>
          <div class="post__user-name">
            <p>アカウントネーム</p>
          </div>
        </div>
      </div>
      <div class="post__evaluation-section">
        <p>評価 <span>★★★★★</span></p>
      </div>
      <div class="post__review-section">
        <p>コンテンツコンテンツコンテンツコンテンツコンテンツコンテンツ</p>
      </div>
      <div class="post__category-section">
          <p># カテゴリー</p>
          <p># カテゴリー</p>
          <p># カテゴリー</p>
      </div>
    </div>
  </a>
  <a>
    <div class="post__container">
      <div class="post__title-section">
        <div class="post__title white-space-nowrap">
          <h2>コンテンツタイトル<h2>
        </div>
        <div class="post__user-row">
          <div class="post__user-img">
            <%= image_tag 'logo.png'%>
          </div>
          <div class="post__user-name">
            <p>アカウントネーム</p>
          </div>
        </div>
      </div>
      <div class="post__evaluation-section">
        <p>評価 <span>★★★★★</span></p>
      </div>
      <div class="post__review-section">
        <p>コンテンツコンテンツコンテンツコンテンツコンテンツコンテンツ</p>
      </div>
      <div class="post__category-section">
          <p># カテゴリー</p>
          <p># カテゴリー</p>
          <p># カテゴリー</p>
      </div>
    </div>
  </a>
  <a>
    <div class="post__container">
      <div class="post__title-section">
        <div class="post__title white-space-nowrap">
          <h2>コンテンツタイトル<h2>
        </div>
        <div class="post__user-row">
          <div class="post__user-img">
            <%= image_tag 'logo.png'%>
          </div>
          <div class="post__user-name">
            <p>アカウントネーム</p>
          </div>
        </div>
      </div>
      <div class="post__evaluation-section">
        <p>評価 <span>★★★★★</span></p>
      </div>
      <div class="post__review-section">
        <p>コンテンツコンテンツコンテンツコンテンツコンテンツコンテンツ</p>
      </div>
      <div class="post__category-section">
          <p># カテゴリー</p>
          <p># カテゴリー</p>
          <p># カテゴリー</p>
      </div>
    </div>
  </a>
  <a>
    <div class="post__container">
      <div class="post__title-section">
        <div class="post__title white-space-nowrap">
          <h2>コンテンツタイトル<h2>
        </div>
        <div class="post__user-row">
          <div class="post__user-img">
            <%= image_tag 'logo.png'%>
          </div>
          <div class="post__user-name">
            <p>アカウントネーム</p>
          </div>
        </div>
      </div>
      <div class="post__evaluation-section">
        <p>評価 <span>★★★★★</span></p>
      </div>
      <div class="post__review-section">
        <p>コンテンツコンテンツコンテンツコンテンツコンテンツコンテンツ</p>
      </div>
      <div class="post__category-section">
          <p># カテゴリー</p>
          <p># カテゴリー</p>
          <p># カテゴリー</p>
      </div>
    </div>
  </a>
  <a>
    <div class="post__container">
      <div class="post__title-section">
        <div class="post__title white-space-nowrap">
          <h2>コンテンツタイトル<h2>
        </div>
        <div class="post__user-row">
          <div class="post__user-img">
            <%= image_tag 'logo.png'%>
          </div>
          <div class="post__user-name">
            <p>アカウントネーム</p>
          </div>
        </div>
      </div>
      <div class="post__evaluation-section">
        <p>評価 <span>★★★★★</span></p>
      </div>
      <div class="post__review-section">
        <p>コンテンツコンテンツコンテンツコンテンツコンテンツコンテンツ</p>
      </div>
      <div class="post__category-section">
          <p># カテゴリー</p>
          <p># カテゴリー</p>
          <p># カテゴリー</p>
      </div>
    </div>
  </a>
  <a>
    <div class="post__container">
      <div class="post__title-section">
        <div class="post__title white-space-nowrap">
          <h2>コンテンツタイトル<h2>
        </div>
        <div class="post__user-row">
          <div class="post__user-img">
            <%= image_tag 'logo.png'%>
          </div>
          <div class="post__user-name">
            <p>アカウントネーム</p>
          </div>
        </div>
      </div>
      <div class="post__evaluation-section">
        <p>評価 <span>★★★★★</span></p>
      </div>
      <div class="post__review-section">
        <p>コンテンツコンテンツコンテンツコンテンツコンテンツコンテンツ</p>
      </div>
      <div class="post__category-section">
          <p># カテゴリー</p>
          <p># カテゴリー</p>
          <p># カテゴリー</p>
      </div>
    </div>
  </a>
</div>
