<div class="content__wrapper">
  <%= link_to "/post/#{post.id}", {class: "post__content-url"} do %>
    <div class="post__container">
      <div class="post__title-section">
        <div class="post__title white-space-nowrap">
          <h2><%= post.title %><h2>
        </div>
        <div class="post__user-row">
          <div class="post__user-img">
            <%= image_tag 'logo.png'%>
          </div>
          <div class="post__user-name">
            <p>ユーザー</p>
          </div>
        </div>
      </div>
      <div class="post__evaluation-section">
        <% star = "☆☆☆☆☆"%>
        <% post.evaluation.times do |i| %>
          <% star[i] = "★"%>
        <% end %>
        <p>評価 <span><%= "#{star}" %></span></p>
      </div>
      <div class="post__review-section">
        <p><%= post.content %></p>
      </div>
      <div class="post__category-section">
        <p># カテゴリー</p>
        <p># カテゴリー</p>
        <p># カテゴリー</p>
      </div>
    </div>
  <% end %>
</div>
