<div class="content__wrapper">
  <%= link_to "/post/#{post.id}", {class: "post__content-url"} do %>
    <div class="post__container">
      <div class="post__title-section">
        <div class="post__title white-space-nowrap">
          <h2><%= post.title %><h2>
        </div>
        <div class="post__user-row">
          <div class="post__user-img">
            <% if post.user.avatar.attached? && !post.user.avatar.nil? %>
              <%= image_tag post.user.avatar %>
            <% else %>
              <%= image_tag "default_user.jpeg"%>
            <% end%>
          </div>
          <div class="post__user-name">
            <% if !post.user.name.nil? %>
              <%= post.user.name %>
            <% end%>
          </div>
        </div>
      </div>
      <div class="post__evaluation-section">
        <% star = "☆☆☆☆☆"%>
        <% post.evaluation.times do |i| %>
          <% star[i] = "★"%>
        <% end %>
        <p>評価 <span><%= "#{star}" %></span></p>
      </div>
      <div class="post__review-section">
        <p><%= post.content %></p>
      </div>
      <div class="post__category-section">
        <% post.categories.each do |category| %>
          <p>#<%= category.name %></p>
        <% end %>
      </div>
      <div class="post__favorite-section">
        <p><span>❤︎</span><%= post.favorites.count %></p> 
      </div>
    </div>
  <% end %>
</div>
