<div class="header__container">
  <div class="header__row flex">
    <div class="header__title row-size">
      <a href="/">
        <%= image_tag 'logo.png' %>
      </a>
    </div>
    <% if user_signed_in? %>
      <div class="header__account-section row-size flex">
        <div class="header__account-content flex">
          <% if current_user.avatar.attached? %>
            <%= image_tag current_user.avatar %>
          <% end %>
          <p><%= current_user.name %></p>
        </div>

        <div class="header__account-menu">
          <nav class="header__nav nav" id="js-nav">
            <h3>メニュー</h3>
            <ul class="nav__items nav-items">
              <li class="nav-items__item"><span><%= link_to 'アカウント詳細', "/account/#{current_user.id}" %></span></li>
              <li class="nav-items__item"><%= link_to 'アカウント編集', edit_user_registration_path %></li>
              <li class="nav-items__item"><%= link_to 'ログアウト', destroy_user_session_path, class: 'dropdown-item', method: :delete %></li>
            </ul>
          </nav>
          <button class="header__hamburger hamburger" id="js-hamburger">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
      </div>
    <% else %>
      <div class="header__sign-link-section row-size">
        <ul class="flex">
          <div class="login-button button button-hover">
              <li><%= link_to 'ログイン', new_user_session_path %></li>
          </div>
          <div class="sign-button button button-hover">  
              <li><%= link_to '新規登録', new_user_registration_path%></li>
          </div>
        </ul>
      </div>
    <% end %>
  </div>
</div>


