<div class="feadout"id="readout" style="visibility: hidden;">
  <div class="readout__container">
    <div class="readout__title-section">
      <div class="readout__title">
        <h2>リードアウト</h2>
      </div>
      <div class="readout__cancel-btn" id="cancelBtn">
        <a>✖️</a>
      </div>
    </div>
    <div class="readout__content-section">
      <%= form_with model: Post.new, url: post_index_path do |f| %>
        <div class="readout__text-field row-margin">
           <%= f.text_field :title, autofocus: true, autocomplete: "book_title", placeholder: "※ 本のタイトル 最大40文字" %>
        </div>
        <div class="readout__text-field row-margin">
          <%= f.text_field :author, autofocus: true, autocomplete: "author", placeholder: "著者 最大20文字" %>
        </div>
        <div class="readout__text-field row-margin">
          <%= f.text_field :publish, autofocus: true, autocomplete: "publish", placeholder: "出版社 最大20文字" %>
        </div>

        <div class="readout__evaluation-section row-margin">
          <%= f.radio_button :evaluation, :"5"%>
          <%= f.label :evaluation_5, "★"%>
          <%= f.radio_button :evaluation, :"4"%>
          <%= f.label :evaluation_4, "★"%>
          <%= f.radio_button :evaluation, :"3"%>
          <%= f.label :evaluation_3, "★"%>
          <%= f.radio_button :evaluation, :"2"%>
          <%= f.label :evaluation_2, "★"%>
          <%= f.radio_button :evaluation, :"1"%>
          <%= f.label :evaluation_1, "★"%>
          <p class="readout__evaluation-value">評価</p>
        </div>
        <div class="readout__category-section row-margin">
          <div class="readout__category-title">
            <p>
              カテゴリー
            </p>
          </div>
          <div class="readout__category-checkbox">
            <%= f.collection_check_boxes :category_ids, @categories, :id, :name%> 
          </div>
        </div>
        <div class="readout__book-review">
          <%= f.text_area :content, autofocus: true, autocomplete: "review", placeholder: "※ レビュー 最大150文字" %>
        </div>
        <div class="readout__submit-btn">
          <%= f.submit value: "投稿する" %>
        </div>
        <p class="readout__attention">※必須</p>
      <% end %>
    </div>
  </div>
</div>
